**/target
.settings
.classpath
.project
.idea
**/*.iml

iot/src/main/client/node_modules
iot/src/main/client/bower_components
iot/src/main/client/dist
iot/src/main/client/.tmp
iot/src/main/client/test