<title>Lista AZM</title>

<div class="container" data-ng-controller="amsManagementCntl">

    <header>
        <h1>Widok listy AZM</h1>
    </header>

    <table class="raw-table" data-tr-ng-grid data-items="amsmodel" enable-filtering="false" selected-items="mySelectedItems" selection-mode="SingleRow"></table>

    <button class="btn btn-default" data-ng-click="addAms()">Dodaj AZM</button>
    <button class="btn btn-default" data-ng-click="deleteAms()" data-ng-disabled="deleteButtonDisabled()">Usuń AZM</button>
    <button class="btn btn-default" data-ng-click="editAms()" data-ng-disabled="editButtonDisabled()">Edytuj AZM</button>
</div>