<title>Beacons Management</title>

<div class="container" data-ng-controller="beaconsManagementCntl">

    <header>
        <h1>Beacons Management</h1>
    </header>

    <table class="raw-table" data-tr-ng-grid data-items="beacons" enable-filtering="false" selected-items="mySelectedItems" selection-mode="SingleRow"></table>

    <button class="btn btn-default" data-ng-click="addBeacon()">Add beacon</button>
    <button class="btn btn-default" data-ng-click="deleteBeacon()" data-ng-disabled="controlButtonDisabled()">Delete beacon</button>
    <button class="btn btn-default" data-ng-click="editBeacon()" data-ng-disabled="controlButtonDisabled()">Edit beacon</button>
</div>