<title>Lista AZM</title>
<section data-ng-controller="dialogBCntl">
    <div class="container" data-ng-controller="AppContr">

        <header>
            <h1>Widok listy AZM</h1></header>
        <table class="table">
            <thread>
                <tr>
                    <th>Lp.</th>
                    <th>Projekt</th>
                    <th>Odpowiedzialny</th>
                    <th>Budynek</th>
                    <th>Piętro</th>
                    <th>Współrzędne</th>
                </tr>
            </thread>
            <tbody>
                <tr data-ng-repeat="">
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                    <td>{{}}</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-default" data-ng-click="">Dodaj AZM</button>
        <button class="btn btn-default" data-ng-click="">Usuń AZM</button>
        <button class="btn btn-default" data-ng-click="">Edytuj AZM</button>
    </div>
</section>