<title>Zarzadzanie beaconami</title>

<div class="container" data-ng-controller="dialogACntl">

    <header>
        <h1>Zarzadzanie Beaconami</h1>
    </header>

    <table class="raw-table" data-tr-ng-grid data-items="model" enable-filtering="false" selected-items="mySelectedItems" selection-mode="SingleRow"></table>
    <button class="btn btn-default" data-ng-click="addBeacon()">Dodaj beacon</button>
    <button class="btn btn-default" data-ng-click="deleteBeacon()" data-ng-disabled="deleteButtonDisabled()">Usuń beacon</button>
    <button class="btn btn-default" data-ng-click="editBeacon()" data-ng-disabled="editButtonDisabled()">Edytuj beacon</button>
</div>