<title>AMS Management</title>

<div class="container" data-ng-controller="AmsManagementCntl">

    <header>
        <h1>AMS Management</h1>
    </header>

    <table class="raw-table" data-tr-ng-grid data-items="amsModel" data-enable-filtering="false" data-selected-items="mySelectedItems" data-selection-mode="SingleRow" data-fields="['project','guardian', 'building', 'floor', 'room', 'xAutomaticMobileSet', 'yAutomaticMobileSet','macAutomaticMobileSet','isActual']">
    	<tbody>
        	<tr>
            	<td>
                	<a href="#/main/location-map?building={{gridDisplayItem.building}}&floor={{gridDisplayItem.floor}}">Show on map</a>
                </td>
			</tr>
        </tbody> 
    </table>

    <button class="btn btn-default" data-ng-click="addAms()">Add AMS</button>
    <button class="btn btn-default" data-ng-click="deleteAms()" data-ng-disabled="controlButtonDisabled()">Delete AMS</button>
    <button class="btn btn-default" data-ng-click="editAms()" data-ng-disabled="controlButtonDisabled()">Edit AMS</button>
</div>