<title>Location map of AMS</title>

<div class="container" data-ng-controller="LocationMapCntl">

    <h1>Location map of AMS</h1>



    <div data-ng-show="showWarning()">
        <alert type="danger">The AMS is in a range of only one beacon - the exact position of the AMS can't be calculated.</alert>
    </div>

    <svg width="1837px" height="1298px" data-ng-controller="LocationMapCntl">
        <image width="1837px" height="1298px" xlink:href="/main/image/7p.png"></image>
        <g data-ng-repeat="point in locationModel">
            <circle data-ng-attr-cx="{{point.xPos}}" data-ng-attr-cy="{{point.yPos}}" r="100" stroke="red" stroke-width="4" fill="white" fill-opacity="0.5" style></circle>
            <text data-attr-x="{{point.xPos - 15}}" data-attr-y="{{point.yPos + 30}}" fill="red">{{point.name}}</text>
        </g>

        <g data-ng-repeat="beaconPoint in beacons">
            <circle data-ng-attr-cx="{{beaconPoint.xPos}}" data-ng-attr-cy="{{beaconPoint.yPos}}" r="5" stroke="black" stroke-width="5" fill="black" fill-opacity="1"></circle>
            <text data-attr-x="{{beaconPoint.xPos+15}}" data-attr-y="{{beaconPoint.yPos-30}" fill="black">{{beaconName}}</text>
        </g>
    </svg>
    <div data-ng-show="!showMap()"></div>
</div>