<title>Location map of AMS</title>

<div class="container" data-ng-controller="LocationMapCntl">

    <h1>Location map of AMS</h1>


    <div data-ng-show="showWarning()">
        <alert type="danger">The exact position of the AMS can't be calculated - localization is not actual.</alert>
    </div>
    
	<div id="map-area">
	    <svg id="svg-location-area" width="800px" height="600px" data-ng-controller="LocationMapCntl" viewbox="0 0 800 600">
	        <image width="1837px" height="1298px" xlink:href={{imageUrl}}></image>
	        <g data-ng-repeat="point in locationModel">
	            <circle data-ng-attr-cx="{{point.xPos}}" data-ng-attr-cy="{{point.yPos}}" r="150" stroke="red" stroke-width="4" fill="white" fill-opacity="0.5" style></circle>
	            <text data-ng-attr-x="{{point.xPos - 15}}" data-ng-attr-y="{{point.yPos + 30}}" fill="red">{{point.project}}</text>
	        </g>
	
	        <g data-ng-repeat="beaconPoint in beacons">
	            <circle data-ng-attr-cx="{{beaconPoint.xPos}}" data-ng-attr-cy="{{beaconPoint.yPos}}" r="5" stroke="black" stroke-width="5" fill="black" fill-opacity="1"></circle>
	            <text data-ng-attr-x="{{beaconPoint.xPos-10}}" data-ng-attr-y="{{beaconPoint.yPos+25}}" fill="black">{{beaconPoint.name}}</text>
	        </g>
	    </svg>
	    <script>
		    var esvg = svgPanZoom('#svg-location-area');
	    </script>
   	</div>
   	<div>
   		<button id="zoom-in-button" type="button" class="map-zoom-button" onclick="esvg.zoomBy(1.1)"></button>
   	</div>
   	<div>
   		<button id="zoom-out-button" type="button" class="map-zoom-button" onclick="esvg.zoomBy(1/1.1)"></button>
   	</div>
</div>