<div class="modal-dialog">
    <div class="modal-header">
        <div class="modal-title">
            <h3>Add beacon</h3>
        </div>
    </div>

    <form name="beaconAddForm">
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-2">
                    <label>Name</label>
                </div>
                <div class="form-group col-md-10" data-ng-class="{'has-error': beaconAddForm.nameInput.$invalid,'has-success': beaconAddForm.nameInput.$valid}">
                    <input name="nameInput" type="text" data-ng-model="newBeacon.name" class="form-control" ng-required="true" />
                    <p ng-show="beaconAddForm.nameInput.$invalid" class="help-block">Name is required.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label>MAC</label>
                </div>
                <div class="form-group col-md-10" data-ng-class="{'has-error': beaconAddForm.macInput.$invalid,'has-success': beaconAddForm.macInput.$valid}">
                    <input name="macInput" type="text" data-ng-model="newBeacon.mac" class="form-control" ng-required="true" />
                    <p ng-show="beaconAddForm.macInput.$invalid" class="help-block">Mac is required.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label>Uuid Normal</label>
                </div>
                <div class="form-group col-md-10" data-ng-class="{'has-error': beaconAddForm.uuidNormalInput.$invalid,'has-success': beaconAddForm.uuidNormalInput.$valid}">
                    <input name="uuidNormalInput" type="text" data-ng-model="newBeacon.uuidNormal" class="form-control" ng-required="true">
                    <p ng-show="beaconAddForm.uuidNormalInput.$invalid" class="help-block">Uuid Normal is required.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label>Uuid Secure</label>
                </div>
                <div class="form-group col-md-10" data-ng-class="{'has-error': beaconAddForm.uuidSecureInput.$invalid,'has-success': beaconAddForm.uuidSecureInput.$valid}">
                    <input name="uuidSecureInput" type="text" data-ng-model="newBeacon.uuidSecure" class="form-control" ng-required="true" />
                    <p ng-show="beaconAddForm.uuidSecureInput.$invalid" class="help-block">Uuid Secure is required.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label>Uuid Service</label>
                </div>
                <div class="form-group col-md-10" data-ng-class="{'has-error': beaconAddForm.uuidServiceInput.$invalid,'has-success': beaconAddForm.uuidServiceInput.$valid}">
                    <input name="uuidServiceInput" type="text" data-ng-model="newBeacon.uuidService" class="form-control" ng-required="true" />
                    <p ng-show="beaconAddForm.uuidServiceInput.$invalid" class="help-block">Uuid Service is required.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label>Building</label>
                </div>
                <div class="form-group col-md-10" data-ng-class="{'has-error': beaconAddForm.buildingInput.$invalid,'has-success': beaconAddForm.buildingInput.$valid}">
                    <input name="buildingInput" type="text" data-ng-model="newBeacon.building" class="form-control" ng-required="true" />
                    <p ng-show="beaconAddForm.buildingInput.$invalid" class="help-block">Building is required.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label>Floor</label>
                </div>
                <div class="form-group col-md-10" data-ng-class="{'has-error': beaconAddForm.floorInput.$invalid,'has-success': beaconAddForm.floorInput.$valid}">
                    <input name="floorInput" type="number" data-ng-model="newBeacon.floor" class="form-control" ng-required="true" />
                    <p ng-show="beaconAddForm.floorInput.$invalid" class="help-block">Floor is required and it's in a number form.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label>Room</label>
                </div>
                <div class="form-group col-md-10" data-ng-class="{'has-error': beaconAddForm.roomInput.$invalid,'has-success': beaconAddForm.roomInput.$valid}">
                    <input name="roomInput" type="number" data-ng-model="newBeacon.room" class="form-control" ng-required="true" />
                    <p ng-show="beaconAddForm.roomInput.$invalid" class="help-block">Room is required and it's in a number form.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label>Coordinate X</label>
                </div>
                <div class="form-group col-md-10" data-ng-class="{'has-error': beaconAddForm.coordinateXInput.$invalid,'has-success': beaconAddForm.coordinateXInput.$valid}">
                    <input name="coordinateXInput" type="number" data-ng-model="newBeacon.xBeacon" class="form-control" ng-required="true" />
                    <p ng-show="beaconAddForm.coordinateXInput.$invalid" class="help-block">Coordinate X is required and it's in a number form.</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label>Coordinate Y</label>
                </div>
                <div class="form-group col-md-10" data-ng-class="{'has-error': beaconAddForm.coordinateYInput.$invalid,'has-success': beaconAddForm.coordinateYInput.$valid}">
                    <input name="coordinateYInput" type="number" data-ng-model="newBeacon.yBeacon" class="form-control" ng-required="true" />
                    <p ng-show="beaconAddForm.coordinateYInput.$invalid" class="help-block">Coordinate Y is required and it's in a number form.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" data-ng-disabled="beaconAddForm.$invalid">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>