<title>Login</title>

<div class="container" data-ng-controller="LoginCntl">


	<form role="form" ng-submit="login()">
	
		<div class="form-group">
		</div>
		
		<div class="form-group" style="width: 70%">
			<font size="6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...<font size="6">
		</div>
		
		<div class="form-group">
			<img src="./main/img/iotIcon.png" alt="Smiley face" height="300" width="300">
		</div>
	
	
		<div class="form-group">
			<font size="6">Sign in</font>
		</div>
		
		<div class="alert alert-danger" ng-show="error">
			<font size="4">There was a problem logging in. Please try again.</font>
		</div>
		
		<div class="form-group">
			<input type="text" class="form-control" id="username"
				name="username" ng-model="credentials.username"
				style="width:300px"  placeholder="Emial"/>
		</div>
		
		<div class="form-group">
			<input type="password" class="form-control" id="password"
				name="password" ng-model="credentials.password" 
				style="width:300px" placeholder="Password"/>
		</div>
		
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

</div>