<div class="modal-header">
    <div class="modal-title">
        <h3>Add user</h3>
    </div>
</div>
<div class="modal-body">
    <form name="userAddForm">
        <div class="row">
            <div class="form-group col-md-2 required">
                <label>First Name</label>
            </div>
            <div class="form-group col-md-10 " data-ng-class="{'has-error': userAddForm.firstNameInput.$invalid && userAddForm.firstNameInput.$dirty,'has-success': userAddForm.firstNameInput.$valid}">
                <input name="firstNameInput" type="text" data-ng-model="newUser.firstName" class="form-control" ng-required="true" data-ng-minlength="1" data-ng-maxlength="64" />
                <p ng-show="userAddForm.firstNameInput.$invalid && userAddForm.firstNameInput.$dirty" class="help-block">First name is required and max length is 64 characters.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-md-2 required">
                <label>Last Name</label>
            </div>
            <div class="form-group col-md-10 " data-ng-class="{'has-error': userAddForm.lastNameInput.$invalid && userAddForm.lastNameInput.$dirty,'has-success': userAddForm.lastNameInput.$valid}">
                <input name="lastNameInput" type="text" data-ng-model="newUser.lastName" class="form-control" ng-required="true" data-ng-minlength="1" data-ng-maxlength="64" />
                <p ng-show="userAddForm.lastNameInput.$invalid && userAddForm.lastNameInput.$dirty" class="help-block">Last name is required and max length is 64 characters.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-md-2 required">
                <label>User Name</label>
            </div>
            <div class="form-group col-md-10 " data-ng-class="{'has-error': userAddForm.userNameInput.$invalid && userAddForm.userNameInput.$dirty,'has-success': userAddForm.userNameInput.$valid}">
                <input name="userNameInput" type="text" data-ng-model="newUser.userName" class="form-control" ng-required="true" data-ng-minlength="4" data-ng-maxlength="16" />
                <p ng-show="userAddForm.userNameInput.$invalid && userAddForm.userNameInput.$dirty" class="help-block">User name is required and max length is 16 characters.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-md-2 required">
                <label>Password</label>
            </div>
            <div class="form-group col-md-10 " data-ng-class="{'has-error': userAddForm.passwordInput.$invalid && userAddForm.passwordInput.$dirty,'has-success': userAddForm.passwordInput.$valid}">
                <input name="passwordInput" type="password" data-ng-model="newUser.password" class="form-control" ng-required="true" data-ng-minlength="4" data-ng-maxlength="16" />
                <p ng-show="userAddForm.passwordInput.$invalid && userAddForm.passwordInput.$dirty" class="help-block">Password is required and max length is 16 characters.</p>
            </div>
        </div> 
        
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" data-ng-disabled="userAddForm.$invalid">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <p class="col-md-2 text-danger">* required</p>
</div>