<style>
    input {
        display: block;
        width: 100%;
    }
</style>

<div class="modal-dialog">
    <div class="modal-header">
        <div class="modal-title">
            <h3>Add AMS</h3>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-2">
                <label>Project</label>
            </div>
            <div class="form-group col-md-10">
                <input data-ng-model="newAms.project" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Guardian</label>
            </div>
            <div class="form-group col-md-10">
                <input data-ng-model="newAms.guardian" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Building</label>
            </div>
            <div class="form-group col-md-10">
                <input data-ng-model="newAms.building" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Floor</label>
            </div>
            <div class="form-group col-md-10">
                <input type="number" data-ng-model="newAms.floor" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Room</label>
            </div>
            <div class="form-group col-md-10">
                <input type="number" data-ng-model="newAms.room" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Coordinate X</label>
            </div>
            <div class="form-group col-md-10">
                <input type="number" data-ng-model="newAms.xAutomaticMobileSet" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>Coordinate Y</label>
            </div>
            <div class="form-group col-md-10">
                <input type="number" data-ng-model="newAms.yAutomaticMobileSet" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label>MAC</label>
            </div>
            <div class="form-group col-md-10">
                <input data-ng-model="newAms.macAutomaticMobileSet" class="form-control" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>